<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <button class="btn" style="float: right;" [mat-dialog-close]="true">x</button>
    </div>
  </div>

  <div *ngIf="data.sabores" class="row">
    <div *ngFor="let saborRow of sabor_quantidade; let i=index" class="col-12 col-sm-12 col-md-12 col-lg-12">
      <label for="">Sabor {{i + 1}}</label>
      <select class="form-control">
        <option value="" selected disabled hidden>Escolha um sabor</option>
        <option *ngFor="let sabor of sabores" [value]="sabor" (click)="selectSabor(sabor, i)">
          {{sabor.codigo}} {{sabor.nome}} -
          <span style="font-weight: bold !important;">{{sabor.descricao}}</span>
        </option>
      </select>
    </div>
  </div>

  <div *ngIf="data.opcional" class="row mt-2">
    <h3 *ngIf="data.opcionais.length > 0">Opcionais</h3>
    <div *ngFor="let opcional of opcionais" class="col-12 col-sm-12 col-md-6 col-lg-6">

      <div class="col-12 table-row">
        <input (click)="selectOpcional(opcional)" type="checkbox" class="form-check-input">
        <span>{{opcional.nome}}</span> <br>
        <span style="font-size:12px;">R$ {{opcional.adicional}}</span>
      </div>
    </div>

  </div>

  <div class="row mt-2">
    <div class="col-12 ">
      <h3>Quantidade</h3>
      <input type="number" class="mt-3 form-control" min="1" max="100" [(ngModel)]="quantidade"
        (click)="onChangeSelected()">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4 class="mt-3">Adicional: R$ {{adicional_display}}</h4>
    </div>
    <div class="col">
      <button class="float-right mt-3 btn-dark mb-3 p-2" (click)="addToCart()">Adicionar</button>
    </div>
  </div>
</div>
