<div class="row justify-content-center" style="height: 250px; background: rgb(185, 47, 47);">

  <div class="col-12 col-sm-12 col-md-12 col-lg-3 mt-3" style="color: white;">
    <h4 class="m-auto mb-1" >Ade pizzas</h4>
    <p>Uma pizzaria localizada em Marau-RS, levando os melhores sabores para sua casa!</p>
  </div>


  <div class="col-12 col-sm-12 col-md-12 col-lg-3 mt-3"  style="color: white;">
    <h4 class="m-auto mb-1">Contato</h4>
    <p>Fones: (54) 3342-8658 e (54) 3342-4193</p>
    <p>Whatsapp: (54) 99612-4398</p>

  </div>

</div>
