<!--
<div class="cardapio-item shadow h-100 p-0 pb-sm-0 pb-md-0 pb-lg-1 pb-xl-1">
  <div class="row cardapio-item-head">
    <div class="col-12 h-100">
      <img style="   width: 100%;
            max-height: 100%;" src="http://portalsulweb.com.br/sites/adepizzas.com.br/assets/index/pizza (1).jpg" alt="">
    </div>
  </div>

  <div class="row cardapio-item-info px-2 ">
    <div class="col-12 mt-1 mt-sm-1 mt-md-1 mt-lg-1 ">
      <h4 class="font-weight-bold">{{itemInfo.nome}}</h4>
      <p style="color: rgb(109, 109, 109)">{{itemInfo.descricao}}</p>
    </div>
    <div class="col-8">
      <h3 class="font-weight-bolder">{{itemInfo.preco}}</h3>
    </div>
    <div class="col-4  d-flex">
      <button class="btn bg-dark shadow cardapio-item-btn" (click)="btnAction()"><span class="oi oi-plus"></span></button>
    </div>
  </div>

</div>
 -->

<div class="shadow"
  style="display: flex; flex-direction: column;  height: 200px; max-height: 250px; background: white; border-radius: 5px;">
  <!--   <div class="" style="flex: 1.5; background-image: url('http://portalsulweb.com.br/sites/adepizzas.com.br/assets/index/pizza (1).jpg');  background-repeat: no-repeat;
  background-size: 100% 100%;">

  </div> -->

  <div class="p-2" style="flex: 10; overflow: hidden;">
    <h4 style="font-weight: 500 !important; font-weight: 15px !important;" class="font-weight-bold">{{itemInfo.nome}}
    </h4>
    <p class="mt-1" style="color: rgb(109, 109, 109)">{{itemInfo.descricao}} </p>
  </div>

  <div class="p-2" style="flex: 3; display:flex; border-top: 1px solid rgba(0,0,0,0.1);">
    <div style="flex: 1;">
      <h3 class="font-weight-bolder">{{preco}}</h3>
    </div>

    <div style="flex: 1;">
      <button *ngIf="!isInCart" class="btn bg-dark shadow cardapio-item-btn "
        style="float: right; border-radius: 3px !important; width: 50px;" (click)="btnAction()"><span
          class="oi oi-plus"></span></button>
      <button *ngIf="isInCart" class="btn bg-green shadow cardapio-item-btn "
        style="float: right; border-radius: 3px !important; width: 50px;" (click)="btnAction()"><span
          class="oi oi-plus"></span></button>
    </div>
  </div>
</div>
