<div class="container-fluid h-100">
  <div class="row pb-2" style="height:13%; border-bottom: 1px solid #ccc;">
    <div class="col-8">
      <h1>Carrinho</h1>
    </div>
    <div class="col-4">
      <button class="btn" style="float: right;" [mat-dialog-close]="true">x</button>
    </div>
  </div>

  <div class="row" style="min-height: 50px;">
    <div class="col-12">
      <div *ngFor="let item of cartItems">
        <app-cart-item [data]="item" (deleteEvent)="deleteItem($event)"></app-cart-item>
      </div>

    </div>
  </div>

  <div class="row mt-3" style="height:10%;" style="border-top: 1px solid #ccc;">
    <div class="col-12 mt-1">
      <h5>Cupom de desconto</h5>
    </div>
    <div class="col-0 col-sm-0 col-md-0 col-lg-6 col-xl-6 mt-1">
    </div>
    <div class="col-0 col-sm-0 col-md-0 col-lg-6 col-xl-6 mt-1 mb-2">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-3 ">
          <form [formGroup]="cupomForm">
            <input formControlName="codigo" type="text" class="form-control " placeholder="Cupom" style="display: inline-block;"
            [ngClass]="{
              'alert-danger' : errorCupom,
              'alert-success' : cupomSuccess
            }"
            >
          </form>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mt-3">
          <button (click)="applyCupom()" class="btn bg-dark p-2 m-auto"
            style="color: white; float: right;">Ativar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 " style="height:10%;" style="border-top: 1px solid #ccc;">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 mt-3">
      <h4>TOTAL: R$ {{total_display}}</h4>
    </div>

    <div class="col-12 col-sm-12 col-md-8 col-lg-8 pb-3 mt-3">
      <button [routerLink]="['auth']" [mat-dialog-close]="true" class="btn bg-green p-2 m-auto"
        style="color: white; float: right;">Finalizar</button>
    </div>
  </div>



</div>

<!--
  <h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->
