<!-- <div *ngIf="!date" id="cardapio-warning" class="row p-2">
  <div class="col-12 d-flex">
    <div class="alert alert-success m-auto text-center" style="width: 200px;">Aberto para testes</div>
  </div>
</div> -->

<div id="cardapio-info" class="row justify-content-center">

  <div class="col-12 text-center mt-4" style="color: black; height: auto;">
    <h1>Escolha Pizzas ou Pasteis </h1>
    <p class="font-weight-bold small">Atendimento das 18:00 as 23:15 todos os dias! </p>
  </div>

  <div class="col-8 mt-5">
    <div class="row justify-content-center ">
      <div class="col-12 col-sm-12 col-md-12 col-lg-3 d-flex">
        <img class="m-auto" style="height:100px; width:100px;" src="../../../../assets/index/p-icon (1).png" alt="">
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-3 d-flex">
        <img class="m-auto" style="height:75px; width:75px;" src="../../../../assets/index/ar (2).png" alt="">
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-3 d-flex">
        <img class="m-auto" style="height:100px; width:100px;" src="../../../../assets/index/biscuit.png" alt="">
      </div>
    </div>
    <div class="col-12 text-center mt-5 mb-5">
      <p>E para acompanhar, que tal...</p>
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 d-flex text-center">
        <div class="m-auto">
          <img style="height:100px; width:100px;" src="../../../../assets/index/beer.png" alt="">
          <p class="font-weight-bold small  mt-2">Cerveja</p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 d-flex">
        <div class="m-auto text-center">
          <img style="height:100px; width:100px;" src="../../../../assets/index/soda.png" alt="">
          <p class="font-weight-bold small  mt-2">Refrigerante/Sucos</p>
        </div>

      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 d-flex">
        <div class="m-auto text-center">
          <img style="height:100px; width:100px;" src="../../../../assets/index/wine-glass.png" alt="">
          <p class="font-weight-bold small  mt-2">Vinhos/Espumantes</p>
        </div>

      </div>
    </div>

    <div class="row mb-4 mt-4">
      <div class="col-12 d-flex">
        <button class="btn bg-warning m-auto" (click)="openCardapioModal()" style="height: 50px; width:250px;">Nossos Sabores</button>
      </div>
    </div>
  </div>

</div>

<div id="cardapio" class="row justify-content-center pb-3">

  <div class="col-12 col-sm-12 col-md-12 col-lg-11">
    <mat-tab-group class="mt-1">

      <mat-tab label="Pizzas">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of pizzas" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Pasteis">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of pasteis" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Porcoes">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of porcoes" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Cervejas">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of cervejas" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Espumantes">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of espumantes" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Refrigerantes">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of refrigerantes" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Vinhos">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of vinhos" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Sucos">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of sucos" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Aguas">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of aguas" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!--
      <div *ngFor="let produto of produtos" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 mt-4" style="max-height: 400px;">
        <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
      </div>
 -->

  </div>
</div>
