<div *ngIf="!date" id="cardapio-warning" class="row p-2">
  <div class="col-12 d-flex">
    <div class="alert alert-success m-auto text-center" style="width: 200px;">Aberto para testes</div>
  </div>
</div>

<div id="cardapio" class="row justify-content-center pb-3">

  <div class="col-12 col-sm-12 col-md-12 col-lg-11">
    <mat-tab-group class="mt-1">

      <mat-tab label="Pizzas">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of pizzas" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Pasteis">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of pasteis" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Porcoes">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of porcoes" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Cervejas">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of cervejas" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Espumantes">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of espumantes" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Refrigerantes">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of refrigerantes" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Vinhos">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of vinhos" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Sucos">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of sucos" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Aguas">
        <div class="container-fluid">
          <div class="row mt-2 pb-3">
            <div *ngFor="let produto of aguas" class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 mt-4"
              style="max-height: 400px;">
              <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!--       <div *ngFor="let produto of produtos" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 mt-4" style="max-height: 400px;">
        <app-cardapio-item [itemInfo]='produto'></app-cardapio-item>
      </div>
 -->

  </div>
</div>
