<div class="container-fluid">

  <div class="row mt-4 justify-content-center">
    <div class="col-10 mb-3 shadow" style="max-height: 500px; overflow: scroll; overflow-x: hidden; color:black;">
      <app-sabores-table></app-sabores-table>
    </div>
  </div>

  <div class="row mt-4 justify-content-center">
    <div class="col-10 mb-3 shadow" style="max-height: 500px; overflow: scroll; overflow-x: hidden; color:black;">
      <app-opcionais-table></app-opcionais-table>
    </div>
  </div>

  <div class="mt-4 row justify-content-center">
    <div class="col-10 mb-3 shadow" style="color:black;">
      <app-produtos-table></app-produtos-table>
    </div>
  </div>

</div>
